@font-face {
  font-family: 'Alfa Interface Sans';
  src: url('/fonts/alfa-interface-sans_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alfa Interface Sans';
  src: url('/fonts/alfa-interface-sans_medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alfa Interface Sans';
  src: url('/fonts/alfa-interface-sans_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ближайший доступный аналог Styrene A LC для кнопки «НА УДАЧУ» */
@font-face {
  font-family: 'Styrene UI';
  src: url('/fonts/styrene-ui_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
